body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#fff;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: black;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .calculator input[type="text"] {
    width:88%;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 24px;
  }
  
  .calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  .calculator button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .calculator button:hover {
    background-color: #0056b3;
  }
  